# dependencies
/node_modules

# compiled code
/public/bundle.js*

# secretsss
.env

# misc
.DS_Store
*.pem

# Ignore these directories that use rsync
/public/images
/config

# Ignore these directories use for precompiling images for the app
setup/panels

# Just sits on my own computer
purpose.md
