
body {
  background-color: #14142c;
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: serif;
  font-size: 18px;
  color: #14142c;
  letter-spacing: 0.3pt;
  line-height: 1.4;
}

.forest-boundary {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.plains {
  padding: 60px 0 0 0;
  margin-left: auto;
  margin-right: auto;
}

.typed {
  padding: 0px;
}

.hf {
  width: 100%;
  display: block;
}

.map {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 15px;
  margin-bottom: 15px;
}

.map-item {
  height: 30px;
}

.compass {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  font-size: 54pt;
  word-spacing: 1.4sem;
  padding: 0 0.7em;
  font-weight: bold;
  padding: 0;
}

.item {
  text-align: center;
}

img.comic-nav {
  height: 90px;
}

.clearing {
  padding: 30px;
}

@media (max-device-width: 599px),(max-width: 599px) and (orientation: portrait) {
  .forest-boundary, .plains {
    box-sizing: border-box;
  }
  .forest-boundary, .plains {
    width: 100%;
  }
}

@media (min-device-width: 600px) and (min-width: 600px) {
  .forest-boundary, .plains {
    box-sizing: border-box;
  }
  .forest-boundary, .plains {
    max-width: 937px;
  }
}
