@font-face {
  font-family: "Anticursive";
  src: url("/anticursive.otf") format("opentype");
}

body {
  background-color: #14142c;
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: serif;
  font-size: 18px;
  color: #14142c;
  letter-spacing: 0.3pt;
  line-height: 1.4;
}

.forest-boundary {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.plains {
  padding: 60px 0 0 0;
  margin-left: auto;
  margin-right: auto;
}

.typed {
  padding: 0px;
}

.hf {
  width: 100%;
  display: block;
}

a {
  color: #60a080;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.map {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 15px;
  margin-bottom: 15px;
}

.map-item {
  height: 30px;
}

.textinfo {
  padding: 30px
}

.compass {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  font-size: 54pt;
  word-spacing: 1.4sem;
  padding: 0 0.7em;
  font-weight: bold;
  padding: 0;
}

.item {
  text-align: center;
}

img.comic-nav {
  height: 90px;
}

.clearing {
  padding: 30px;
}

@media (max-device-width: 599px),(max-width: 599px) and (orientation: portrait) {
  .forest-boundary, .plains {
    box-sizing: border-box;
  }
  .forest-boundary, .plains {
    width: 100%;
  }
  img.panel {
    width: 100%;
    height: auto;
  }
  .desktop {
    display: none;
  }
}

@media (min-device-width: 600px) and (min-width: 600px) {
  .forest-boundary, .plains {
    box-sizing: border-box;
  }
  .forest-boundary, .plains {
    max-width: 937px;
  }
  .comics {
    padding: 15px;
  }
	.desktop {
		width: 100%
	}
  .mobile {
    display: none;
  }
}

.plains .comment-writer {
  margin: 30px;
  background-color: #e0e4e8;
  padding: 10px;
}

button {
  background-color: #508068;
  color: #ffffff;
  font-family: serif;
  font-size: 1em;
  border: 0 none;
  border-radius: 4px;
  padding: 0 10px;
  height: 1.75em;
  vertical-align: middle;
}
button:focus {
  outline: 2px solid #000000;
}
textarea, input[type="text"], input[type="password"] {
  border: 2px solid #a0a8b0;
  border-radius: 4px;
  outline: none;
  font-size: .9em;
}
input[type="text"], input[type="password"] {
  height: 1.75rem;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus {
  border-color: #60a080;
}

.plains .textarea {
  display: flex;
}

.plains textarea {
  flex: 1;
  background: rgba(0, 0, 0, 0);
  font-family: serif;
  font-size: 1em;
}
.plains .comment-button {
  margin: 10px 0 0 auto;
  display: block;
  transition: opacity .3s ease-in, margin-top .3s ease-out, height .3s ease-out;
}
.plains:not(:focus-within) .comment-button {
  height: 0;
  opacity: 0;
  margin: 0 0 0 auto;
  transition: opacity .3s ease-out, margin-top .3s ease-in, height .3s ease-in;
}

.login {
  flex-grow: 1
}
.login .instructions {
  margin: 5px 0;
}
.login form {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}
.login .labeled-input {
  flex: 1;
}
.labeled-input label {
  font-size: .8em;
  text-transform: uppercase;
  display: block;
}
.labeled-input:focus-within {
  color: #508068;
}
.login input {
  width: 100%;
  box-sizing: border-box;
}

.user-name-area {
  display: flex;
  margin-bottom: 10px;
}
.user-name-area .log-in {
  flex-grow: 1;
}
.user-name-area .user-name {
  margin-bottom: 0;
}
.user-name {
  font-family: "Anticursive";
  font-size: 24px;
  line-height: 1;
  margin: 5px 0;
  flex-grow: 100;
}

.plains .comment-body {
  margin: 30px;
  background-color: #e0e4e8;
  padding: 10px;
}

.plains .children {
  margin-left: 30px;
}

.archive-links {
  text-align: center;
  margin-bottom: 2em;
}

table.archive {
  margin-left: auto;
  margin-right: auto;
}

.archive td,th {
  padding: 0 5px;
}

.archive .index {
  text-align: right;
}

.archive .also {
  font-size: 0.7em;
  font-weight: bold;
  padding-top: 0.3em;
}

.sparse-link {
  text-align: center;
  margin: -75px auto 0;
}

.sparse-link h2 {
  font-weight: normal;
  font-size: 1.4em;
}

.sparse {
  margin: 45px auto 0;
  width: 710px;
}
